sim/launch_sim
sim/rspsim
*.png
*.vcd
*.txt
*.log
*.o
kernel/*
tb/obj_dir/*
sim/eval/*.read
sim/eval/*.write
sim/eval/*.log
sim/eval/*.dat
sim/*.dtb
gmon.out
sim/kernel
sim/*.elf
sim/*.img
sim/gmon.out
